.title {
  color: white;
  min-height: 60px;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
}

.todo-header {
  color: #fff;
  background-color: #ff8800;
  border-radius: 10px 10px 0 0;
}

.selected-todo-header {
  background-color: #0099cc;
}

.add-box {
  min-height: 80px;
  background-color: #fff;
  background-clip: border-box;
}
