<div style="width: 520px">
  <div class="d-flex flex-column">
    <div class="d-flex flex-row justify-content-between mb-4 add-box py-4 px-2">
      <mdb-form-control class="flex-fill me-4">
        <input
          mdbInput
          [(ngModel)]="message"
          type="text"
          class="form-control form-control-lg"
        />
        <label mdbLabel class="form-label">Add your todo item</label>
      </mdb-form-control>
      <button class="btn btn-primary" (click)="addTodo()">Add</button>
    </div>
    <div class="card mb-2">
      <div *ngIf="selectedTodo$ | async; let selectedTodo">
        <div
          class="
            card-header
            text-center
            fs-5
            text-uppercase
            todo-header
            selected-todo-header
          "
        >
          Your selected Todo
        </div>
        <div class="card-body">
          <p class="card-text mb-2 text-break fs-6">
            {{ selectedTodo.message }}
          </p>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column-reverse">
      <div
        [routerLink]="['/todos', todo.id]"
        class="card mb-2"
        *ngFor="let todo of todos$ | async; let i = index"
      >
        <div class="card-header text-center fs-5 text-uppercase todo-header">
          Todo {{ todo.id }}
        </div>
        <div class="card-body">
          <p class="card-text mb-2 text-break fs-6">
            {{ todo.message }}
          </p>
        </div>
        <div class="card-footer">
          <button
            class="btn btn-outline-primary btn-floating me-5"
            [ngClass]="{
              'btn-outline-primary': todo.done === false,
              'btn-success': todo.done === true
            }"
            (click)="toggleTodo(i)"
          >
            <i class="fas fa-check"></i>
          </button>
          <button class="btn btn-danger" (click)="deleteTodo(i)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
