<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="container-fluid">
      <div class="navbar-brand link fw-bolder" routerLink="/">ToDoApp</div>
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbar"
        aria-controls="navbar"
        aria-expanded="true"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item link">
            <span class="nav-link fw-bolder" routerLink="home"> Home </span>
          </li>
          <li class="nav-item link">
            <span
              class="nav-link fw-bolder"
              aria-current="page"
              routerLink="login"
            >
              Login
            </span>
          </li>
          <li class="nav-item link">
            <span
              class="nav-link fw-bolder"
              aria-current="page"
              routerLink="register"
            >
              Register
            </span>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->

  <!-- Background image -->
  <div class="p-5 text-center bg-image header-image">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-5 text-center fw-bolder">The TODO List APP</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>
